h1>sup { /* BETA Symbol */
  display: inline-block;
  margin-left: .14em;
  font-size: .825em;
  transform: translateY(-.45em);
  color: var(--color-grey);
}

svg { overflow: visible; }

button {
  width: auto;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25em;
  font-size: .875em;
  border-radius: 4px;
  user-select: none;
    -webkit-user-select: none;
}

button>img {
  height: 100%;
  width: auto;
  object-fit: contain;
  pointer-events: none;
}

label {
  user-select: none;
    -webkit-user-select: none;
}

aside {
  position: fixed;
  transform: translateX(-100%);
  z-index: 25;
}

#combo-tabs {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: 0 .25rem;
  position: sticky;
  top: 8rem;
}

#combo-tabs button {
  width: 4rem;
  height: 4rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--color-interactive);
  border-radius: 2px;
}

#combo-tabs button:first-child { border-radius: .5rem 2px 2px 2px; }
#combo-tabs button:last-child { border-radius: 2px 2px 2px .5rem; }

#combo-tabs button.selected {
  background-color: var(--color-accent);
  color: var(--color-light1);
}

section {
  background-color: var(--color-foreground);
  border-radius: .5rem;
}
section:not(.tab-panels) { padding: 4rem; }
section+* { margin-top: 1.5rem; }

#builder {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

#combo-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#combo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#combo-info-secondary {
  display: flex;
  gap: .5rem;
  align-items: center;
}

#combo-tier {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: .25rem;
  background-color: var(--color-accent);
}

:where(#combo-tier, .tier-icon)::before {
  content: "S";
  font-size: .875rem;
  font-weight: bold;
  color: var(--color-light1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:is(#combo-tier, .tier-icon).A { background-color: var(--color-green); }
:is(#combo-tier, .tier-icon).A::before { content: "A"; }
:is(#combo-tier, .tier-icon).B { background-color: var(--color-yellow); }
:is(#combo-tier, .tier-icon).B::before { content: "B"; }
:is(#combo-tier, .tier-icon).C { background-color: var(--color-orange); }
:is(#combo-tier, .tier-icon).C::before { content: "C"; }
:is(#combo-tier, .tier-icon).D { background-color: var(--color-red); }
:is(#combo-tier, .tier-icon).D::before { content: "D"; }

.tier-icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -10%;
  border-radius: .25em;
  background-color: var(--color-accent);
}
.tier-icon::before {
  font-size: .66em;
}

#combo-details {
  font-size: .875rem;
}

#combo-info {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#current-combo {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  font-size: 12px;
  font-weight: bold;
}

#current-combo>div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

#current-combo jd-toggle {
  display: flex;
  align-items: center;
  gap: .2rem;
}

jd-icon {
  line-height: 0;
}
jd-icon svg {
  transition: .2s ease color;
}
[icon="language"] {
  vertical-align: -2px;
  margin-right: 2px;
}

#current-combo jd-toggle:not(:hover, [selected]) svg {
  color: var(--color-grey);
}

#current-combo img {
  height: 96px;
  min-width: 96px;
  width: auto;
  margin: auto;
  background-color: var(--color-interactive);
  padding: .25rem;
}

#combo-options {
  display: flex;
  gap: .5rem;
}

#combo-options button {
  height: 2.5rem;
  padding: .5rem 1rem;
  background-color: var(--color-interactive);
}

#combo-options>div {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-right: .5rem;
}

.checkbox {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background-color: var(--color-interactive);
  border-radius: 4px;
}

.checkbox svg {
  position: absolute;
  width: 66%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox + label {
  font-size: .875rem;
  vertical-align: middle;
  margin-left: .375em;
}

#custom-combos thead>:first-child td { padding-top: 2rem; }
#custom-combos thead>:first-child td:first-child {
  padding-left: 4rem;
  padding-bottom: 0;
  margin-bottom: -.25rem;
  font-size: .875rem;
}
#custom-combos thead>:first-child td:last-child {
  padding-right: 4rem;
  text-align: right;
}
#custom-combos th { padding-top: 0; }

#combo-stats {
  display: flex;
  flex-direction: column;
  gap: .125rem;
}

#combo-stats>div {
  display: flex;
  gap: .5rem;
  align-items: baseline;
}

.formula, #combo-stats label, th:not(:first-child) {
  font-family: "Akkurat Mono", monospace;
  font-weight: bold;
  font-size: .7rem;
  letter-spacing: .1em;
}

.formula>span {
  display: inline-block;
}

#custom-combo-formula {
  vertical-align: baseline;
  font-size: .75rem;
}

#customize-formula-button {
  font-size: .875rem;
  margin-top: .75rem;
}

.coefficient-separator { padding: 0 .333em; }

.meter {
  display: block;
  position: relative;
  width: 303px;
  aspect-ratio: 303 / 8;
  height: auto;
  max-height: 8px;
  background-color: var(--color-interactive);
  align-self: center;
  overflow: hidden;
  mask: url(/resources/graphics/metermask.svg);
    -webkit-mask: url(/resources/graphics/metermask.svg);
  mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}

.meter::before, .meter::after {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 2px;
  transition: .2s ease opacity;
}

.meter::after {
  width: calc(var(--value) / 6 * 100%);
  transition: .2s ease width;
  background-color: var(--color-yellow);
}

.meter.ground::after { background-color: var(--color-orange); }
.meter.anti-gravity::after { background-color: var(--color-purple); }
.meter.water::after { background-color: var(--color-blue); }
.meter.air::after { background-color: var(--color-cyan); }

.meter::before {
  width: calc(var(--secondary-value) / 6 * 100%);
  background-color: var(--color-inverse);
  opacity: 0;
}
.compare .meter::before { opacity: 10%; }

.meter:not(.dominant)::before {
  mask: url(/resources/graphics/diffmask.svg) right 100%;
    -webkit-mask: url(/resources/graphics/diffmask.svg) right;
}

.meter.dominant::before {
  right: calc(100% - var(--value) / 6 * 100%);
  width: calc((var(--value) - var(--secondary-value)) / 6 * 100%);
  background-color: var(--color-light1);
  mix-blend-mode: overlay;
  z-index: 1;
}
.compare .meter.dominant::before { opacity: 75%; }

.multimeter {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 5px 0;
  width: 100%;
}

#combo-parts {
  display: grid;
  grid-template-areas: "drivers bodies tires"
                       "drivers bodies gliders";
  gap: 1.5rem;
}

#combo-parts>:nth-child(1) { grid-area: drivers; }
#combo-parts>:nth-child(2) { grid-area: bodies; }
#combo-parts>:nth-child(3) { grid-area: tires; }
#combo-parts>:nth-child(4) { grid-area: gliders; }

#combo-parts h3 {
  margin-bottom: .5rem;
}

.parts-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .25rem;
}
.parts-grid button {
  position: relative;
  height: 2rem;
  padding: .125rem;
  transition: .2s ease background-color;
}
.parts-grid button.highlight { background-color: var(--color-interactive); }
.parts-grid button.selected { background-color: white; }
#drivers>button { height: 2.5rem; }

#drivers { grid-template-columns: repeat(8, 1fr); }

#bodies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:is(#tires, #gliders) { grid-template-columns: repeat(6, 1fr); }

.folder>div {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  gap: .25rem;
  padding: .25rem;
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: #0008 0 2px 12px;
  z-index: 5;
  transition: .2s ease opacity,
              .2s ease scale;
}
.folder:not(.open, :focus-within)>div {
  opacity: 0;
  visibility: hidden;
  scale: .9;
}
.folder>div button {
  height: 2.5rem;
}

.tab-panels {
  border-radius: 2px 8px 8px 8px;
  overflow: clip;
}

.tab-panels>*:not(.selected) {
  display: none;
}

.tab-handles {
  display: flex;
  gap: .25rem;
  padding-bottom: .25rem;
}

.tab-handles a {
  display: inline-block;
  height: 3.5rem;
  padding: 1.2rem 1.5rem;
  background-color: color-mix(in srgb, var(--color-foreground) 66%, transparent);
  font-size: 1.125rem;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
}

.tab-handles a>sup {
  font-weight: normal;
  margin-left: .125em;
  color: var(--color-grey);
}

.tab-handles a.selected { background-color: var(--color-foreground); }
.tab-handles a.selected::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1em;
  background-color: inherit;
}

.tab-handles a:first-child { border-radius: 8px 2px 2px 2px; }
.tab-handles a:last-child { border-radius: 2px 8px 2px 2px; }

div.table {
  height: 40rem;
  overflow: scroll;
}

table {
  position: relative;
  width: 100%;
  border-radius: inherit;
}

table h2 {
  font-size: 1.325rem;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--color-foreground);
  z-index: 10;
}

thead th {
  border-bottom: 1px solid var(--color-interactive);
}

tr { position: relative; }
th p { font-size: .875rem; }
th, td { padding: .325rem; }
th {
  padding-top: 2rem;
  padding-bottom: .75rem;
  vertical-align: bottom;
}
:is(th, td):first-child { padding-left: 4rem; }
:is(th, td):last-child { padding-right: 4rem; }
tbody tr:first-child td { padding-top: 1rem; }

td:not(:first-child) {
  vertical-align: middle;
  font-family: "Akkurat Mono", monospace;
  font-size: .875rem;
  color: var(--color-grey);
}

.positive { color: var(--color-green) !important; }
.negative { color: var(--color-orange) !important; }
.subdued { color: var(--color-grey) !important; }

tbody td:first-child:not(.empty) {
  display: flex;
  gap: 1.25rem .5rem;
}

tbody td:first-child img {
  height: 2.25rem;
  width: auto;
}

td.empty {
  height: 100px;
  vertical-align: middle;
  text-align: center;
  color: var(--color-grey);
}

table button {
  height: 2.25rem;
  padding: 0 .75rem;
  text-align: center;
  background-color: var(--color-interactive);
}

table button.primary {
  background-color: var(--color-accent);
  color: var(--color-light1);
}

.pick-slot {
  display: flex;
  gap: .5rem;
  margin-left: 1rem;
  opacity: 0;
  transition: .1s ease opacity;
}

tr:is(:hover, :focus-within) .pick-slot { opacity: 1; }

tbody td:first-child:not(.empty) {
  flex-wrap: wrap;
}

.mobile-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  width: 100%;
}

.mobile-stats label {
  font-family: "Akkurat Mono", monospace;
  letter-spacing: .1em;
}

.mobile-stats>div {
  display: flex;
  gap: .5rem;
  font-feature-settings: "zero" on;
  font-size: .875rem;
}

#wip {
  background: none;
  padding: 6rem 0 0;
  text-align: center;
}

.accent {
  color: var(--color-accent);
  font-weight: bold;
}

:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.invisible-link {
  text-decoration: none;
}

jd-tooltip {
  position: fixed;
  min-width: 12ch;
  width: max-content;
  max-width: min(64ch, 85vw);
  padding: 12px 16px;
  background-color: var(--color-interactive);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.33);
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  font-size: .9rem;
  letter-spacing: 0;
  color: var(--color-text);
  cursor: default;
  transition: .2s .375s ease opacity;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

jd-tooltip::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 24px;
  right: auto;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 4px 0;
  background-color: var(--color-interactive);
}

jd-tooltip.top-right { transform: translateY(-100%) translateX(-8px); }

jd-tooltip.bottom-right { transform: translateX(-8px); }
jd-tooltip.bottom-right::before { top: 0; }

jd-tooltip.top-center {
  text-align: center;
  transform: translateY(-100%) translateX(-50%);
}
jd-tooltip.top-center::before { left: 50%; }

jd-tooltip.bottom-center {
  text-align: center;
  transform: translateX(-50%);
}
jd-tooltip.bottom-center::before { top: 0; left: 50%; }

jd-tooltip.left-middle { transform: translateY(-50%) translateX(-100%); text-align: right; }
jd-tooltip.left-middle::before {
  top: 50%;
  left: 100%;
  border-radius: 0 4px;
}

jd-tooltip:is(.shown, :hover) {
  transition: .2s ease opacity;
  pointer-events: auto;
  opacity: 1;
}

.sortable thead th:not([data-sort="false"]) { cursor: pointer; }

.sortable thead th { position: relative; }
.sortable thead th jd-icon {
  display: inline-block;
  height: 6px;
  position: absolute;
  left: 0;
  translate: -90% 80%;
  transform-origin: 50% 60%;
  transition: .2s ease transform, .2s ease opacity;
  opacity: 0;
}
.sortable thead th jd-icon svg { height: 100%; }

.sortable[data-sort-dir=">"] thead th jd-icon { transform: rotate(180deg); }
.sortable[data-sort-by="1"] thead th:nth-of-type(1) jd-icon { opacity: 1; }
.sortable[data-sort-by="2"] thead th:nth-of-type(2) jd-icon { opacity: 1; }
.sortable[data-sort-by="3"] thead th:nth-of-type(3) jd-icon { opacity: 1; }
.sortable[data-sort-by="4"] thead th:nth-of-type(4) jd-icon { opacity: 1; }
.sortable[data-sort-by="5"] thead th:nth-of-type(5) jd-icon { opacity: 1; }
.sortable[data-sort-by="6"] thead th:nth-of-type(6) jd-icon { opacity: 1; }
.sortable[data-sort-by="7"] thead th:nth-of-type(7) jd-icon { opacity: 1; }
.sortable[data-sort-by="8"] thead th:nth-of-type(8) jd-icon { opacity: 1; }
.sortable[data-sort-by="9"] thead th:nth-of-type(9) jd-icon { opacity: 1; }
.sortable[data-sort-by="10"] thead th:nth-of-type(10) jd-icon { opacity: 1; }
.sortable[data-sort-by="11"] thead th:nth-of-type(11) jd-icon { opacity: 1; }
.sortable[data-sort-by="12"] thead th:nth-of-type(12) jd-icon { opacity: 1; }
.sortable[data-sort-by="13"] thead th:nth-of-type(13) jd-icon { opacity: 1; }
.sortable[data-sort-by="14"] thead th:nth-of-type(14) jd-icon { opacity: 1; }
.sortable[data-sort-by="15"] thead th:nth-of-type(15) jd-icon { opacity: 1; }
.sortable[data-sort-by="16"] thead th:nth-of-type(16) jd-icon { opacity: 1; }
.sortable[data-sort-by="17"] thead th:nth-of-type(17) jd-icon { opacity: 1; }
.sortable[data-sort-by="18"] thead th:nth-of-type(18) jd-icon { opacity: 1; }
.sortable[data-sort-by="19"] thead th:nth-of-type(19) jd-icon { opacity: 1; }
.sortable[data-sort-by="20"] thead th:nth-of-type(20) jd-icon { opacity: 1; }

dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5rem;
  background-color: var(--color-background);
  box-shadow: 0 1px 64px 0 rgba(0, 0, 0, 0.33);
  z-index: 50;
}

dialog::backdrop { background-color: rgba(0,0,0,.5); }

dialog>header { padding: 4rem 4rem 0; }

dialog>header p {
  max-width: 60ch;
  color: var(--color-grey);
}

dialog h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .5em;
}

dialog>footer {
  padding: 2rem 4rem 4rem;
  border-top: 1px solid var(--color-interactive);
}

dialog>footer div {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em .5em;
}

dialog>footer>div:last-child { justify-content: space-between; }

dialog>.formula-numbers {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  justify-content: space-between;
  gap: .25em 1em;
}

dialog>.formula-numbers>* {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 6;
  padding: 0 4rem;
}

dialog>.formula-numbers>:first-child {
  border-bottom: 1px solid var(--color-interactive);
  padding-bottom: .375em;
  margin-bottom: 1em;
}

dialog>.formula-numbers>:first-child, .coefficient-widget output {
  text-align: right;
  font-size: .875rem;
}

.coefficient-widget+.coefficient-widget { margin-top: .25em; }

.coefficient-widget h3 {
  font-size: 1.125em;
  flex-grow: 1;
}

.coefficient-widget input {
  width: 8ch;
  height: 2em;
  font-family: "Akkurat Mono", monospace;
  font-size: .9em;
  text-align: right;
  background-color: var(--color-interactive);
  border-radius: .25rem;
}

.toggles {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 0 4rem;
}

.button {
  display: inline-block;
  height: 2.25rem;
  padding: 0 1.25em;
  font-weight: bold;
  background-color: var(--color-interactive);
  border-radius: .25rem;
}

.button.primary {
  background-color: var(--color-accent);
  color: var(--color-light1);
}

:placeholder-shown { color: var(--color-grey); }


@media (max-width: 1440px) {
  #current-combo img {
    height: 80px;
    min-width: 80px;
  }

  .parts-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1080px) {
  aside {
    top: 2.25rem;
    right: var(--width-pagepadding);
    transform: translateY(-50%);
  }
  #combo-tabs {
    flex-direction: row;
    padding: 0;
  }
  #combo-tabs button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
  }
  #combo-tabs button:first-child { border-radius: .5rem 2px 2px .5rem; }
  #combo-tabs button:last-child { border-radius: 2px .5rem .5rem 2px; }
}

@media (max-width: 1366px) {
  .not-mobile { display: none !important; }

  section:not(.table) {
    padding: 1rem;
  }
  #combo-info {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  #combo-display {
    width: 100%;
  }

  #current-combo img {
    width: 100%;
    height: auto;
    min-width: 0;
  }

  #combo-stats {
    width: 100%;
    max-width: 640px;
  }

  #combo-stats>div {
    width: 100%;
  }

  .meter {
    width: 100%;
  }

  #combo-parts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0007;
    z-index: 100;
    display: block;
    pointer-events: none;
    opacity: 0;
    transition: .2s ease opacity;
  }

  #combo-parts>div {
    position: absolute;
    top: var(--height-header);
    left: var(--width-pagepadding);
    right: var(--width-pagepadding);
    padding: 1rem;
    background-color: var(--color-foreground);
    border-radius: .5rem;
    box-shadow: #0007 0 0 32px;
    pointer-events: none;
    opacity: 0;
    transition: .2s ease opacity;
  }

  :is(#combo-parts, #combo-parts>div).open {
    pointer-events: all;
    opacity: 1;
  }

  .folder>div {
    flex-direction: column;
  }

  tr:first-child th {
    padding-top: 1rem;
  }
  :is(th, td):first-child {
    padding: 1.5rem 1rem;
  }
  tr:not(:first-child)::before {
    position: absolute;
    content: "";
    width: calc(100% - 2rem);
    height: 1px;
    left: 1rem;
    background-color: var(--color-interactive);
  }
  :is(th, td):not(:first-child) { display: none; }
  .pick-slot {
    opacity: 1;
    margin-left: auto;
  }
}

@media (min-width: 1367px) {
  .only-mobile { display: none !important; }
}
