/*---------------------------------------*/
/*               power.css               */
/*     github.com/JeremieD/power.css     */
/*---------------------------------------*/

/* Remove any value set by the user-agent stylesheet. */
*:not(svg, svg *), ::before, ::after {
  all: unset;

  /* Webkit quirks */
  -webkit-text-emphasis-color: initial;
  -webkit-text-fill-color: initial;

  /* Chromium quirks */
  color: inherit;

  /* Slightly opinionated things. */
  box-sizing: border-box;
}

/* Accessible by default. */
/* :focus {
  outline: auto;
} */

/* Set display: none; elements. These should never appear. */
head, base, link, meta, title, script, source, style, template, dialog:not([open]) {
  display: none;
}

/* Set default block elements. Customize only for very general uses. */
html, body,
header, main, footer,
nav, section, aside, article,
h1, h2, h3, h4, h5, h6,
div, p, hr,
ul, ol, li,
img, picture, video, svg
figure, figcaption {
  display: block;
}

/* Set default table elements. These elements depend on this CSS to be of any use. */
table { display: table; }
tbody { display: table-row-group; }
thead { display: table-header-group; }
tfoot { display: table-footer-group; }
tr { display: table-row; }
td, th { display: table-cell; }

/* Basic text styles */
b { font-weight: bold; }
i { font-style: italic; }
s { text-decoration: line-through; }
sup { font-feature-settings: "sups" on; } /* Slightly opinionated. Change depending on font. */
sub { font-feature-settings: "subs" on; } /* Same. */
